#ffp{
 


    width: 100;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align:left;
    margin: 0 auto;
    font-weight:large;
}
