#ffp{
 


    
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    
   
}

label{
    font-size:xx-large;
}

input{
    font-display: l;
}