#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:0 1rem;
}


.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
}
 .worksImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 300px;
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 8.5rem
}
.workBtn {
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size
}